@import "tailwindcss";

:root {
  --background: oklch(14.5% 0 0);
  --foreground: oklch(100% 0.00011 271.152);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
}

@theme {
  --tracking-normal: 0.01em; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(14.5% 0 0);
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Helvetica, sans-serif;
}

